@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: hsl(217, 28%, 15%);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.logo{
  max-width: 80px;
  flex-shrink: 0;
}
.logo img{
  width: 100%;
  height: auto;
  display: block;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: white;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 20px;
}
.introImg{
  width: 100%;
  height: auto;
}
.introBgMobile{
  position: relative;
  z-index: -999;
  bottom: 40px;
  width: 120vw;
  object-fit: cover;
}
.introText{
  position: relative;
  text-align: center;
  font-family: "Raleway";
  font-size: x-small;
  color: white;
  bottom: 160px;
  margin: 0;
}
.introText p{
  font-size: small;
}
.started{
  background-color: hsl(176, 68%, 64%);
  width: 70%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  margin: 20px;
}
.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Raleway";
  color: white;
  position: relative;
  bottom: 140px;
  text-align: center;
  /* font-size: small; */
}
.accessAnywhere{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.accessAnywhere h4{
  margin-bottom: 5px;
}
.accessAnywhere p{
  margin-top: 5px;
}
.stayProductive{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  font-family: "Raleway";
  color: white;
  position: relative;
  bottom: 40px;
}
.stayProductive p{
  font-size: small;
  margin-top: 0;
}
.stayProductive img{
  width: 90%;
  height: auto;
}